.Paging {
  display: grid;
  grid-template-columns: 170px 36px 65px 36px;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.Paging select {
  width: 150px;
  height: 40px;
  flex-grow: 1;
  border-radius: 20px;
  padding: 5px;
}

.Paging button {
  height: 36px;
  width: 100%;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: white; 
  background: #3D7DCA;
  transition: all 250ms ease-in-out;
}

.Paging button:hover {
    background: #003A70;
}


.Paging span {
    font-size: .85rem;
    background: goldenrod;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
